::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    /* opacity: 0; */
    width: 14px;
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    width: 14px;
    background-color: rgba(50, 50, 50, 0.2);
    opacity: 0.5;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    background-color: rgba(192, 192, 192, 0.8);
}
::-webkit-scrollbar-button {
    display: none;
    visibility: hidden;
    opacity: 0;
}
/* ::-webkit-scrollbar */
